<link rel="stylesheet" href="../stylesheets/footer.css">

<footer class="footer py-3 mt-auto">
  <div class="container <%- block('page').toString() === " home" && "text-end" %>">
    <span>&copy; <%= new Date().getFullYear();%> UGSOA Local 223</span>
  </div>
</footer>