<%- layout('layouts/boilerplate') %>
  <% block('page').append(' about') %>

    <link rel="stylesheet" href="../stylesheets/aboutUs.css">

    <section>
      <article class="president-word p-4">
        <p>
          Dear Union Brothers and Sisters,
        </p>
        <p>
          Welcome to local 223 United Government Security Officers of America.
        </p>
        <p>
          Local 223 started in 2004, feeling that security officers needed better representation. Too many Companies and
          Unions
          felt we were guards as opposed to highly trained security officers. We joined UGSOA to allow representation of
          contract
          security. We continue to concentrate our efforts in the government security and we want to represent you. We
          serve the
          security professional from the Oregon Border, East to the Nevada Border, Sacramento to Modesto.
        </p>
        <p>
          UGSOA Local 223 is committed to ensuring that our members receive fair treatment, job security, competitive
          wages,
          adequate health care coverage and dignity and respect in the workplace. We know and understand the
          difficulties that
          security officers face on a day-to-day basis because our Local’s President, Vice President, Secretary as well
          as our
          Chief Stewards; shop stewards have worked in the security field for many years.UGSOA will never waiver from
          the
          original, personal commitment that our Union was founded on.
        <p class="mb-0">
          Fraternally,
        <p>
          Eddie Smith, President
        </p>
        </p>
        <p class="mb-0">
          UGSOA local 223
        </p>
      </article>

      <article class="why-support my-4">
        <header class="text-center rounded ">
          <h1>Why Support Your Local 223</h1>
        </header>
        <main>
          <p>
            What have unions ever done for working people like us? Plenty. A lot of what we have today, things we take
            for granted,
            is the result of working men and women joining together in unions to make America even more a land of
            opportunity. Here
            are just a few things working people like us, working together in unions, have won:
          </p>
          <div class="container">
            <ul class="reasons py-2">
              <div class="row">
                <div class="col">
                  <li>Protection from unfair termination</li>
                </div>
                <div class="col">
                  <li>The 40 hour work week</li>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <li>Higher wages for union members</li>
                </div>
                <div class="col">
                  <li>Sick leave</li>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <li>Pensions</li>
                </div>
                <div class="col">
                  <li>The 8 hour day</li>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <li>Overtime pay</li>
                </div>
                <div class="col">
                  <li>Paid vacations and holidays</li>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <li>Safety and health protections on the job</li>
                </div>
                <div class="col">
                  <li>Better health plans</li>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <li>Fairness in promotions and job assignments</li>
                </div>
              </div>
            </ul>
          </div>
          <p>
            Then there's the stuff you can't put a price on dignity, respect, more opportunities for you and your
            family, and a real
            say in what happens on the job. Unions have and will continue to make a big difference. With downsizing and
            mergers,
            LAYOFFS, changes in the economy and rising inequalities, working people like us need to join together now
            more than
            ever. Nobody ever gave working people anything we earned it! We fought for it! The United Government
            Security Officers
            of America are still fighting to win respect and a fair deal for America's working Security Officers.
          </p>
        </main>
      </article>

      <hr>

      <article class="prayer text-center p-2 my-4">
        <header>
          <h2>Union Stewards' Prayer</h2>
        </header>
        <main>
          <p>
            Grant me, Oh Lord, the genius to explain to my brothers and sisters the policies and plans of our great
            union even
            though no one explains them to me.Give me the understanding that I may forgive the apathetic member, curb
            the overly
            ambitious member, and accept the views of the member who does nothing until I have done something... and
            then tells me
            what I should have done and how I should have done it.Oh Lord, make me formidable in debate, logical in
            argument and
            fearless in confrontation. Let me be a lawyer, actor, mathematician, sage, philosopher, sociologist, and
            economist;
            pleasing, cajoling, threatening, and belaboring so that I make the best of a good case and a good case from
            no case at
            all.Teach me, Oh Lord, to stand at all times with both feet firmly on the ground …. Even when I don’t have a
            leg to
            stand on.
          </p>
        </main>
      </article>
    </section>